/* Navbar container */
.navbar {
  position: fixed !important;
  display: flex !important;
  align-items: center;
  height: 70px;
  backdrop-filter: blur(10px);
  transition: backdrop-filter 0.3s ease;
  z-index: 1000;
}

/* Navbar links */
.navbar-nav .nav-link {
  text-decoration: none !important;
  margin-right: 30px;
  color: #f9f9f7; /* Adjusted color */
  font-size: 1.2rem !important;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

/* Navbar link underline */
.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: violet;
  transition: width 0.3s ease, left 0.3s ease; /* Added left transition */
}

/* Navbar link hover effect */
.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: violet;
}

/* Navbar brand */
.navbar-brand {
  color: white;
  font-family: "Great Vibes", cursive;
  font-size: 1.6rem;
  margin-right: 800px; /* Adjust margin as needed */
  padding-left: 50px; /* Adjust padding as needed */
}
