.navbar {
  position: fixed !important;
  display: flex !important;
  align-items: center;
  height: 70px;
  backdrop-filter: blur(10px); 
  transition: backdrop-filter 0.3s ease;
  z-index: 1000;
  width: 100%;
  background: transparent !important; 
}

.navbar-nav .nav-link {
  text-decoration: none !important;
  margin-right: 30px;
  color: #f9f9f7; 
  font-size: 1.2rem !important;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: violet;
  transition: width 0.3s ease, left 0.3s ease; 
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: violet;
}

.navbar-brand {
  color: white;
  /* font-family: "Great Vibes", cursive; */
  font-size: 1.6rem;
  margin-right: auto; 
  padding-left: 50px; 
  font-style: italic;
}

.custom-toggler {
  border: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
}

.custom-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-collapse.show .navbar-nav {
  background-image: linear-gradient(to left, rgba(27, 20, 41, 0.769), rgba(20, 15, 35, 0.774)) !important;

}

@media (min-width: 992px) {
  .custom-toggler {
    display: none; 
  }

  .navbar-collapse {
    display: flex !important; 
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    display: none;
    position: fixed;
    top: 70px; /* Adjust as needed */
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0) !important; /* Adjust opacity and color as desired */
    z-index: 1000;
    text-align: center;
  }

  .navbar-collapse.show {
    display: block !important;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; 
  }
  .navbar-nav .nav-link {
    margin: 10px 0;
    color: white !important; 
  }
}
