.project-card {
  margin: auto;
  padding: 20px;
  background: none; /* Ensure the background is transparent */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Deeper shadow on hover */
}

.project-card-img {
  border-radius: 20px; /* Rounded corners for image */
  width: 100%;
  height: auto;
}

.project-card-text {
  text-align: left; /* Align text to the left */
}

.btn-github, .btn-demo {
  background: linear-gradient(to top, rgba(243, 111, 111, 0.8), rgba(245, 176, 66, 0.8));
  color: #fff;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn-demo {
  margin-left: 10px; /* Space between buttons */
}
