.project-section {
  padding: 60px 0;
}

.project-heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.gradient-text {
  background: linear-gradient(to right, #cb00fd, #e451fe,rgb(93, 82, 242));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-col {
  margin-bottom: 20px;
}

.project-card {
  margin: auto;
  padding: 20px;
  color: white !important;
  background: none !important;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(233, 131, 253);
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-card-img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.project-card-text {
  text-align: left;
}

.project-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-github, .btn-demo {
  background: linear-gradient(to top, rgba(243, 111, 111, 0.8), rgba(245, 176, 66, 0.8));
  color: #fff;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
}

.btn-demo {
  margin-left: 10px;
}