.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.greeting {
  font-size: 2rem;
  margin-top: 20px;
}

.wave {
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.introduction {
  font-size: 2rem;
  margin-top: 10px;
}

.name {
  font-weight: bold;
  font-size: 2rem;
  color: violet;

}

.typewriter-wrapper {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}
