@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


/* navbar */


body {
  
  background: linear-gradient(to bottom,rgb(57, 3, 64),rgb(29, 1, 43),rgb(13, 0, 13));
  color: white;
  background-repeat: no-repeat;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) {
  .ColHome-Header {
    text-align: start;
  }
}













/* project section */

